META.yml
MYMETA.yml
MYMETA.json
Makefile
blib/*
inc/*
*.sw[po]
pm_to_blib
MANIFEST.bak
SIGNATURE
lib/Mouse/Tiny.pm
Mouse-*
*~
*.bak
*.old
xt/compat/
cover_db/*
nytprof*
*.out
author/externals/
ppport.h
xshelper.h
*.bs
*.o
*.obj
*.c
test-mydeps-*.log
Moose-t/
/Mouse-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
/lib/Mouse.xs
/MANIFEST
